.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background: transparent;
  z-index: 1000;
  overflow: hidden;
}

.logo {
  width: 174px;
  height: auto;
  padding: 5px 25px 10px 25px;
  cursor: pointer;
}

.menu-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  font-size: 32px;
  color: #333;
  z-index: 1100;
}

.nav-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 120px;
  transition: width 0.4s ease;
}

.nav-links.open {
  width: 80%;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  transition: color 0.3s ease;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.3s ease;
}

.nav-links.open a {
  opacity: 1;
  transform: translateX(0);
}

.nav-links a:hover {
  color: #e35d2e;
}

.talk-btn {
  background: #F15D2B;
  color: #fff !important;
  padding: 12px 16px 12px 16px;
  border-radius: 24px;
  transition: background 0.3s ease;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Instrument Sans';
}

.talk-btn:hover {
  background: #c74a1c;
}

/* === Tablet Responsiveness === */
@media (max-width: 1024px) {
  .navbar {
    padding: 16px 25px;
  }

  .nav-links {
    gap: 30px;
    padding-right: 100px;
  }

  .logo {
    width: 150px;
  }

  .nav-links a {
    font-size: 16px;
  }
}

/* === Mobile Responsiveness === */
@media (max-width: 768px) {
  .navbar {
    padding: 16px 20px;
  }

  .menu-icon {
    width: 35px;
    height: 35px;
    z-index: 2100;
  }

  .menu-icon.close {
    position: fixed;
    top: 20px;
    right: 25px;
    transform: rotate(90deg);
  }

  .logo {
    width: 130px;
    padding: 5px 15px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.4s ease-in-out;
    z-index: 2000;
  }

  .nav-links.open {
    right: 0;
    width: 70%;
  }

  .nav-links a {
    font-size: 20px;
  }

  .talk-btn {
    font-size: 18px;
    padding: 10px 25px;
  }
}

/* === Extra Small Devices === */
@media (max-width: 480px) {
  .logo {
    width: 120px;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
    right: 10px;
  }

  .menu-icon.close {
    width: 30px;
    height: 30px;
    right: 10px;
  }

  .nav-links.open {
    width: 80%;
  }

  .nav-links a {
    font-size: 18px;
  }

  .talk-btn {
    padding: 8px 20px;
    font-size: 16px;
  }
}